body {
  background-color: #f3f2da;
}
hr {
  border-style: dotted none none;
  width: 10%;
  border-color: #045762;
  border-width: 7px;
}
h1 {
  color: #045762
}
h3 {
  color: #4e8d7c
}
